<div>
        <img style="height: 100px; width: 100px" src="https://bit.ly/2NqIQII" />
        <h1>Unfortunately, This page does not exist</h1>
        <li><a href="{{ url_for('all_names') }}">Registered Users</a></li>
        <li><a href="{{ url_for('user_bookmarks') }}">My Bookmarks</a></li>
        <li><a href="{{ url_for('user_likes') }}">My liked Comics</a></li>
        <li><a href="{{ url_for('all_searches') }}">My searched Years</a></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('logout') }}">logout</a></li>
    </div>
    